/* GlobalStyles.css */

/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Ensure root is always side to side and top to bottom for all browser sizes */
/* html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
} */

/* Global variables */
:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;


  --field-background-color: #f0f0f0;
  --field-border-color: #ccc;
  --field-border-radius: 20px;
  --field-padding: 10px;
  --button-background-color: #007bff;
  --button-color: rgb(255, 255, 255);
  --button-border: none;
  --button-border-radius: 200px;
  --border-radius: 50px;
  --button-padding: 10px 15px;
  --button-hover-color: #0067cc;
  --main-font-size: 22px;
  --width: 50vw;
  --height: 75vh;
  --button-width: 100%; /* Add this variable */
}

/* Apply the font globally */
body {
  font-family: var(--primary-font);
  font-size: var(--main-font-size);
  height: 100px;
}



/* Login.css */

/* Login.css */

.continue-button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: var(--button-border);
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  cursor: var(--button-cursor);
  border-radius: var(--button-border-radius);
  margin-top: var(--button-margin-top);
  color: var(--field-background-color);
}

.continue-button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}


/* Messages */
.error-message, .success-message {
  color: red;
  font-size: var(--main-font-size);
  margin-bottom: 10px;
}

/* Dashboard Layout
.App {
  display: flex;
  flex-direction: column;
} */

/* .dashboard {
  display: flex;
  flex: 1;
}


.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.header {
  flex-shrink: 0;
} */

/*  */
