/* Channels.css or Sidebar.css */

.channel-info {
    display: flex;
    justify-content: space-between; /* Align text and button */
    align-items: center; /* Center align items vertically */
}

.delete-button-container {
    margin-left: 10px; /* Add space between text and button */
}

.delete-button {
    background-color: #f44336; /* Red color for delete button */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.875rem; /* Adjust font size if needed */
}

.delete-button:hover {
    background-color: #c62828; /* Darker red for hover effect */
}

.active {
    background-color: #e0e0e0; /* Highlight active channel */
}
