.card-display {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: calc(100vh - 140px); /* Adjust the height according to your header height */
}

.cards {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin: 20px; /* Space around the cards */
    background-color: aqua;

}

.card-container {
    /* Define your card dimensions */
    width: 300px; /* Fixed width */
    height: 400px; /* Fixed height */
    margin: 10px; /* Space between cards */
    border: 1px solid #ccc; /* Optional border */
    border-radius: 8px; /* Optional rounded corners */
    overflow: hidden; /* Clip overflow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
    text-align: center; /* Center text */
}

.card-image img {
    width: 100%; /* Fill the card */
    height: auto; /* Maintain aspect ratio */
}

.spin-image-container {
    margin-top: 20px; /* Space above the spin image */
    display: flex; /* Center the image within the container */
    justify-content: center; /* Center horizontally */
}

.spin-image {
    transition: transform 0.2s; /* Optional: add some animation */
}

.side-gif-left {
    left: 0; /* Move further to the left */
}

.side-gif.right {
    right: 5%; /* Move further to the right */
}




